@import url("https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@400;700;800&display=swap");

$theme-colors: (
  "primary": #563e2e,
);

$primary: #563e2e;

body {
  font-family: "Nanum Gothic", sans-serif;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.list {
  text-align: left;
  max-width: 750px;
  margin: auto;
}

.submit-form {
  max-width: 300px;
  margin: auto;
}

.edit-form {
  max-width: 300px;
  margin: auto;
}

@media (min-width: 768px) {
  .login-content {
    margin: auto;
    border: 1px solid #dddddd;
    border-radius: 5px;
    width: 450px;
  }
}
@media (max-width: 767px) {
  .login-content {
    width: 100vw;
    padding: 30px 50px;
  }
}
.login-module {
  background-color: white;
  height: 100vh;
  padding: 15px;
}

@media (min-width: 768px) {
  .login-module {
    height: 100%;
    margin: 45px 15px;
  }
}

.login-logo {
  padding-bottom: 50px;
}

.login-button {
  margin-top: 15px !important;
  float: right;
}

.custom-nav-item {
  margin-right: 1rem;
}

.styles_hour__EXCif {
  background-color: white !important;
  color: black !important;
}

.styles_day_title__1y-BE {
  background-color: $primary !important;
}

.styles_event__2jA91 {
  background-color: #e9a345 !important;
}

.title-text {
  font-family: NanumSquare;
  font-style: normal;
  font-weight: 800;
  font-size: 1.6rem;
  line-height: 140%;
}

.title-text-light {
  font-family: NanumSquare;
  font-style: normal;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 140%;
}

.body-text {
  font-family: NanumSquare;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 140%;
}

input.body-text {
  font-size: 14px !important;
}

.subtitle-text {
  font-family: NanumSquare;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 140%;
}

@import "~bootstrap/scss/bootstrap.scss";
